{% extends 'template_base.html' %}

{% block title %}
    Editar Marca
{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-12">
            <h3 class="text-primary">Editar Marca</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ">
            <div class="card p-3 mb-2 bg-secondary text-white">
                <div class="card-body">
                    <h4 class="card-title">Edite la Marca</h4>
                    <form action="" method="post">
                        <div class="form-group mb-3">
                            <label for="nombre" class="form-label">Nombre de la Marca</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" value="{{ marca.nombre }}" required>
                        </div>
                        <button type="submit" class="btn btn-success">Guardar Cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
