<!doctype html>
<html lang="en">
  <head>
    <title>
      {% block title %}Mundo Celular{% endblock %}
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <style>
    .dropdown-menu a.dropdown-item:hover {
      background-color: #b0c4de; /* Color primario más suave para hover */
      color: white; /* Asegúrate de que el texto sea visible */
    }
  </style>
  <body>
    <header class="bg-dark py-3 mb-4">
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="text-white">Mundo Celular</h1>
            <nav class="d-flex">
                <a href="/" class="btn btn-primary mr-2">Inicio</a>

                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle mr-2" type="button" data-toggle="dropdown" aria-expanded="false">
                      Movimientos Caja
                    </button>
                    <div class="dropdown-menu bg-primary text-white">
                      <a class="dropdown-item text-white" href="/compra">Compra Equipos</a>
                      <a class="dropdown-item text-white" href="/venta">Venta</a>
                      <a class="dropdown-item text-white" href="/stock">Stock</a>
                    </div>
                  </div>
            
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle mr-2" type="button" data-toggle="dropdown" aria-expanded="false">
                    Configuracion Equipos
                  </button>
                  <div class="dropdown-menu bg-primary text-white">
                    <a class="dropdown-item text-white" href="/equipos">Smarphone</a>
                    <a class="dropdown-item text-white" href="/marcas">Marcas</a>
                    <a class="dropdown-item text-white" href="/fabricantes">Fabricante</a>
                    <a class="dropdown-item text-white" href="/categoria">Categoria</a>
                    <a class="dropdown-item text-white" href="/modelos">Modelo</a>
                  </div>
                </div>
                <a class="btn btn-primary mr-2" href="/clientes">Clientes</a>
                <a class="btn btn-primary mr-2" href="/proveedores">Proveedores</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
    </main>

    <footer class="bg-dark py-3 mt-4">
        <p class="text-white text-center mb-0">© 2024 Mundo Celular. Todos los derechos reservados.</p>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          const filterForm = document.querySelector(".filter-form");
          const marcaSelect = document.querySelector(".marca-select");
          const equiposTable = document.querySelector(".equipos-table");
      
          marcaSelect.addEventListener("change", function() {
              const selectedMarca = marcaSelect.value.toLowerCase();
              const rows = equiposTable.getElementsByTagName("tr");
      
              for (let row of rows) {
                  const marca = row.getAttribute("data-marca").toLowerCase();
                  if (selectedMarca === "" || marca === selectedMarca) {
                      row.style.display = "";
                  } else {
                      row.style.display = "none";
                  }
              }
          });
      });
    </script>
  </body>
</html>
